---
import path from "path";
import Head from "../../components/Head.astro";
import { memes } from "../../dataset.mjs";

export async function getStaticPaths({ paginate }) {
  return paginate(memes, { pageSize: 800 });
}

import sizeOf from "image-size";

const getAspectRatio = (imgPath) => {
  const dimensions = sizeOf(imgPath);
  return dimensions.width / dimensions.height;
};

const title = "Memes";
const { page } = Astro.props;

const prevPageUrl = page.url.prev
  ? path.join(Astro.site.pathname, page.url.prev)
  : null;
const nextPageUrl = page.url.next
  ? path.join(Astro.site.pathname, page.url.next)
  : null;

page.data.forEach((meme) => {
  meme.mediaAspectRatio = getAspectRatio(meme.mediaPath);
});
---

<html lang="en">
  <Head {title} />
  <body>
    <header>
      <h1><a href={Astro.site.pathname}>SUCHO Memes Gallery</a></h1>
      <h2>Page {page.currentPage} / {page.lastPage}</h2>
      <nav>
        {prevPageUrl ? <a href={prevPageUrl}>Prev</a> : null}
        {nextPageUrl ? <a href={nextPageUrl}>Next</a> : null}
      </nav>
    </header>
    <main id="gallery" class="zoomwall">
      {page.data.map((meme, idx) => (
        <div>
          <img
            data-src={Astro.site.pathname + meme.mediaPath}
            class="lazy"
            style={`aspect-ratio: ${meme.mediaAspectRatio}`}
          />
          <span>{meme.title}</span>
        </div>
      ))}
    </main>
  </body>
</html>

<script type="module" hoist>
  import ZoomWall from "../../lib/zoomwall.js";

  window.onload = () => {
    const gallery = document.getElementById("gallery");
    const images = document.querySelectorAll("#gallery [data-src]");

    const imageObserver = new IntersectionObserver((entries, observer) => {
      entries.forEach(
        (entry) => {
          if (entry.isIntersecting) {
            const image = entry.target;
            image.src = image.dataset.src;
            image.removeAttribute("data-src");
            imageObserver.unobserve(image);
          }
        },
        { root: gallery, rootMargin: "0 0 500px 0" },
      );
    });

    images.forEach((image) => imageObserver.observe(image));

    const zoomwall = new ZoomWall(gallery);
  };
</script>

<style>
  body {
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 0;
  }

  header {
    display: flex;
  }

  nav {
    display: flex;
    gap: 3em;
  }

  #gallery {
    font-size: 0;
    overflow-y: scroll;
  }

  #gallery div {
    display: inline;
  }

  #gallery img {
    height: 15vw;
    opacity: 1;
    transform-origin: 0% 0%;
    transition-duration: 0.3s;
    transition-property: transform, opacity;
    transition-timing-function: ease-out;
    vertical-align: top;
    width: auto;
  }

  #gallery.lightbox img {
    opacity: 0.3;
    transition-timing-function: ease-in;
  }

  #gallery.lightbox img.active {
    opacity: 1;
  }

  #gallery.lightbox img.active + span {
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    color: white;
    display: block;
    font-size: large;
    height: 40px;
    position: absolute;
    width: 100%;
    z-index: 2;
  }
</style>
