---
import { version } from "../../package.json";
import { submissionFormUrl } from "../config.mjs";

import Head from "../components/Head.astro";
import Icon from "../components/Icon.astro";

import "@fontsource/jost/200.css";
import "@fontsource/jost/300.css";
import suchoLogo32x32 from "../img/sucho-logo.32x32.png";
import suchoLogo64x64 from "../img/sucho-logo.64x64.png";

const title = "About :: SUCHO Meme Wall";
const description =
  "Collected memes from the SUCHO project concerning the Russian invasion of Ukraine.";
---

<html lang="en">

<Head {title} {description} />

<body>
  <header>
    <h1>
      <img srcset={`${suchoLogo64x64} 2x`} src={suchoLogo32x32} alt="SUCHO" />
      <a href={Astro.site.pathname} title="Jane's closet">Jane's closet
      </a>
    </h1>
    <a class="button" title="Back to the closet" href="/">
      <Icon name="arrow-narrow-left" /> Back to the closet
    </a>
  </header>
  <main>
    <section>
      <header>
        <h2>About Jane's closet</h2>
      </header>
      <p>
The Theater and Performance Studies <a href="https://taps.stanford.edu/costume-shop/">Costume Shop</a> has a collection of historic clothing ranging from 1750s-1960s. Not all the pieces belonged to Jane Stanford, but many did!
      </p>
    </section>
    <section>
      <header>
        <h2>About the Site</h2>
      </header>
      <p>
        This site is adapted from the code for the <a href="https://memes.sucho.org">SUCHO meme wall</a>. At build-time, the contents of the sheet is fetched and parsed,
        and the source images are downloaded from the Google Drive folder. The images are then processed to create the
        versions in multiple sizes/formats required to create the site.
      </p>
      <p>
        The front-end site itself is created in HTML, CSS, and vanilla Javascript using the <a title="Astro"
          href="https://astro.build/">Astro</a> static framework. The site is hosted on GitHub Pages and <a
          href="https://github.com/sucho-archiving/meme-wall/" title="SUCHO Meme Wall Repository">the source is
          available on GitHub</a>.
      </p>
    </section>
  </main>
  <footer>
    <a href={`https://github.com/sucho-archiving/meme-wall/releases/tag/v${version}`} target="gh-release"
      title={`Release v${version} on GitHub`}>v{version}</a>
  </footer>
</body>

</html>

<style is:global>
  @import "../styles/shared.css";
  @import "../styles/about-page.css";
</style>
