---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import GlossaryLinks from "../components/GlossaryLinks.astro";
import Loader from "../components/Loader.astro";
import { memes } from "../dataset.mjs";
import { contentTypeGlossary, templateTypeGlossary } from "../glossary.mjs";

import "@fontsource/jost/300.css";

const title = "SUCHO Meme Wall";
const description =
  "Collected memes from the SUCHO project concerning the Russian invasion of Ukraine.";
---

<html lang="en">
  <Head {title} {description} />
  <body>
    <Header />
    <Loader />
    <main id="meme-wall">
      {
        memes.map(async (meme, idx) => {
          return (
            <picture
              data-id={meme.driveId}
              data-meme-type={meme.memeTypes.join("|")}
              data-person={meme.people.join("|")}
              data-language={meme.languages.join("|")}
              data-country={meme.countries.join("|")}
              data-template-type={meme.templateTypes.join("|")}
            >
              <img
                srcset={meme.srcSets.webp}
                style={`aspect-ratio:${meme.aspectRatio}`}
                loading={idx > 20 ? "lazy" : "eager"}
                decoding="async"
                alt={meme.title}
                sizes="15vmax"
                class="offcanvas"
              />
              <dl>
                <dt>Title</dt>
                <dd>{meme.title || "---"}</dd>
                <dt>Translation</dt>
                <dd>{meme.textTranslatedIntoEnglish || "---"}</dd>
                <dt>Content Type</dt>
                <dd>
                  {meme.memeContentType ? (
                    <GlossaryLinks
                      terms={meme.memeTypes}
                      glossary={contentTypeGlossary}
                      route="content-types"
                    />
                  ) : (
                    "---"
                  )}
                </dd>
                <dt>Country</dt>
                <dd>{meme.country || "---"}</dd>
                <dt>Language</dt>
                <dd>{meme.language || "---"}</dd>
                <dt>Template Type</dt>
                <dd>
                  {meme.memeTemplateType ? (
                    <GlossaryLinks
                      terms={meme.templateTypes}
                      glossary={templateTypeGlossary}
                      route="template-types"
                    />
                  ) : (
                    "---"
                  )}
                </dd>
                <dt>People</dt>
                <dd>{meme.peopleIndividuals || "---"}</dd>
              </dl>
            </picture>
          );
        })
      }
    </main>
    <div id="popup">
      <iframe></iframe>
    </div>
    <script type="module" hoist>
      import "../js/script.js";
    </script>
    <style is:global>
      @import "../styles/shared.css";
      @import "../styles/wall.css";
    </style>
  </body>
</html>
