---
import { renderPicture } from "astro-imagetools/api";

import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Loader from "../components/Loader.astro";
import { memes } from "../dataset.mjs";

import "@fontsource/jost/300.css";

// Given a <picture/> element as am HTML string (as returned by renderPicture),
// extract the srcset attribute values and return an object of the form
// { <ext>: <srcset>, ... }
const getSrcsetFromPicture = (picture) =>
  Object.fromEntries(
    [...picture.matchAll(/srcset="(?<s>[^"]*?)"/g)].map((s) => [
      s[1].match(/(?<=\.)[^\s.]+(?=\s|$)/)[0],
      s.groups.s,
    ]),
  );

const title = "SUCHO Meme Wall";
const description =
  "Collected memes from the SUCHO project concerning the Russian invasion of Ukraine.";
---

<html lang="en">
  <Head {title} {description} />
  <body>
    <Header />
    <Loader />
    <main id="meme-wall">
      {
        memes.map(async (meme, idx) => {
          const { picture } = await renderPicture({
            src: "/src/../meme_media/" + meme.filename,
            fallbackFormat: "jpeg",
            format: "webp",
            alt: meme.title,
            placeholder: "none",
            includeSourceFormat: false,
          });
          const srcsets = getSrcsetFromPicture(picture);

          return (
            <picture
              data-id={meme.driveId}
              data-meme-type={meme.memeTypes.join("|")}
              data-person={meme.people.join("|")}
              data-language={meme.languages.join("|")}
              data-country={meme.countries.join("|")}
              data-template-type={meme.templateTypes.join("|")}
            >
              <source srcset={srcsets.webp} type="image/webp" sizes="15vmax" />
              <img
                data-src={srcsets.jpg}
                style={`aspect-ratio:${meme.aspectRatio}`}
                loading={idx > 20 ? "lazy" : "eager"}
                decoding="async"
                alt={meme.title}
                sizes="15vmax"
                class="offcanvas"
              />
              <dl>
                <dt>Title</dt>
                <dd>{meme.title || "---"}</dd>
                <dt>Translation</dt>
                <dd>{meme.textTranslatedIntoEnglish || "---"}</dd>
                <dt>Content Type</dt>
                <dd>{meme.memeContentType || "---"}</dd>
                <dt>Country</dt>
                <dd>{meme.country || "---"}</dd>
                <dt>Language</dt>
                <dd>{meme.language || "---"}</dd>
                <dt>Template Type</dt>
                <dd>{meme.memeTemplateType || "---"}</dd>
                <dt>People</dt>
                <dd>{meme.peopleIndividuals || "---"}</dd>
              </dl>
            </picture>
          );
        })
      }
    </main>
    <script type="module" hoist>
      import "../js/script.js";
    </script>
    <style is:global>
      @import "../styles/shared.css";
      @import "../styles/wall.css";
    </style>
  </body>
</html>
