---
import PageLayout from "../components/PageLayout.astro";
import StatsTable from "../components/StatsTable.astro";
import { memes } from "../dataset.mjs";

const title = "Stats :: SUCHO Meme Wall";
const description =
  "Collected memes from the SUCHO project concerning the Russian invasion of Ukraine.";

const facets = [
  ["memeTypes", "Meme Types"],
  ["people", "People"],
  ["countries", "Countries"],
  ["templateTypes", "Template Types"],
  ["languages", "Languages"],
];

const memeCount = memes.length;
const mostRecentMeme = new Date(memes[0].timestamp).toISOString().slice(0, 10);
---

<PageLayout {title} {description}>
  <section>
    <header>
      <h2>Statistics</h2>
    </header>
    <nav>
      {
        facets.map(([facet, description]) => (
          <a href={`#${facet}`}>{description}</a>
        ))
      }
    </nav>

    <table>
      <tbody>
        <tr><td>Total Memes:</td><td>{memeCount}</td></tr>
        <tr><td>Most Recent Updates:</td><td>{mostRecentMeme}</td></tr>
      </tbody>
    </table>

    <div>
      {
        facets.map(([facet, description]) => (
          <StatsTable {facet} {description} />
        ))
      }
    </div>
  </section>
</PageLayout>

<style>
  nav {
    align-items: center;
    display: flex;
    font-variant: all-petite-caps;
    justify-content: space-evenly;
    margin-bottom: 3em;
    margin-top: 0.5em;
  }

  table {
    margin-bottom: 2em;
    width: 100%;
  }

  :is(td, th):first-child {
    text-align: left;
  }

  :is(td, th):nth-child(2) {
    text-align: right;
  }

  div {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
  }
</style>
