---
import { execSync } from "node:child_process";

let openGraphImage = "";
try {
  ({ default: openGraphImage } = await import(
    "../../assets/open-graph.jpeg?url"
  ));
} catch (err) {
  if (import.meta.env.PROD) {
    // if the open-graph image is not available in PROD, throw an error
    // (see integrations/memewall-og-image.ts)
    throw err;
  }
}

const commit = execSync("git rev-parse --short HEAD").toString().trim();
const datetime = new Date().toISOString();

let { title, description } = Astro.props;
---

<head prefix="dcterms: http://purl.org/dc/terms/#">
  <meta charset="utf-8" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86"
  />

  <!-- HTML Meta Tags -->
  <title>{title}</title>
  <meta name="description" content={description} />

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content={Astro.site} />
  <meta property="og:type" content="website" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={openGraphImage} />

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta property="twitter:domain" content={Astro.site.host} />
  <meta property="twitter:url" content={Astro.site} />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={openGraphImage} />

  <meta name="version" content={commit} />
  <meta name="dcterms.modified" content={datetime} />
</head>
