---
import { version } from "../../package.json";

import Head from "../components/Head.astro";
import Ident from "../components/Ident.astro";
import Icon from "../components/Icon.astro";
import BackToTop from "../components/BackToTop.astro";

import "@fontsource/jost/200.css";
import "@fontsource/jost/300.css";
import "../styles/shared.css";
import "../styles/about-page.css";

const { title, description, noIndex = false } = Astro.props;
---

<html lang="en">
  <Head {title} {description} {noIndex} />
  <body>
    <header>
      <Ident />
      <a class="button" title="Return to the Meme Wall" href="/">
        <Icon name="arrow-narrow-left" /> Return to the Meme Wall
      </a>
    </header>
    <main>
      <slot />
    </main>
    <footer>
      <a
        href={`https://github.com/sucho-archiving/meme-wall/releases/tag/v${version}`}
        target="gh-release"
        title={`Release v${version} on GitHub`}>v{version}</a
      >
    </footer>
    <BackToTop />

    <style>
      body > header {
        align-items: center;
        justify-content: space-between;
        padding: 0.25em var(--main-gutter) !important;
        border-bottom: 5px solid #777;
        border-top: 5px solid #777;
        display: flex;
      }

      a.button {
        overflow: hidden;
        transition: flex 0.3s ease;
      }

      @media (min-width: 700px) {
        a.button:hover {
          font-weight: 300;
          flex: 0 0 14em;
        }
      }
    </style>
  </body>
</html>
