---
import PageLayout from "../../components/PageLayout.astro";

import { contentTypeGlossary } from "../../glossary.mjs";
import { memes } from "../../dataset.mjs";
import { sluggify } from "../../utils.js";

const directoryOrder = Object.keys(contentTypeGlossary).sort((a, b) =>
  a.localeCompare(b),
);

const title = `Meme Glossary`;
const description = `Meme Glossary`;
---

<PageLayout {title} {description}>
  <h1>{title}</h1>

  <ul>
    {
      directoryOrder.map((memeTypeSlug) => (
        <li>
          <a href={`/glossary/${memeTypeSlug}/`}>
            {contentTypeGlossary[memeTypeSlug].title}
          </a>
          [
          {
            memes.filter((m) =>
              m.memeTypes.map((t) => sluggify(t)).includes(memeTypeSlug),
            ).length
          }
          ]
        </li>
      ))
    }
  </ul>
</PageLayout>
